### **Importar de Librer√≠as**

In [1]:
import pandas as pd
import ast
import json

### **Cargar movies_dataset.csv**

In [ ]:
# cargar movie_dataset en un dataframe de pandas
df_movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/movies_dataset.csv')

### **Visualizar del dataset**

In [3]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df_movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

### **Detectar y arreglar problemas con columnas divididas**

In [6]:
# identificar id que no sean num√©ricos]
# convertir la columna 'id' a num√©rica y asignar NaN a los valores no enteros
df_movies['id_numeric'] = pd.to_numeric(df_movies['id'], errors='coerce')
# filtrar los valores no enteros
non_integer_values = df_movies[df_movies['id_numeric'].isnull()]
# imprimir los valores no enteros
print(non_integer_values)
df_movies = df_movies.drop('id_numeric', axis=1) #Eliminar la columna 'id_numeric' para dejar las columnas originales

                                                   adult  \
19730                                 - Written by √òrn√•s
29503   Rune Balot goes to a casino connected to the ...
35587   Avalanche Sharks tells the story of a bikini ...

      belongs_to_collection                            budget  \
19730              0.065736  /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503              1.931659  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587              2.185485  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

                                                  genres  \
19730  [{'name': 'Carousel Productions', 'id': 11176}...
29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...

                                                homepage          id imdb_id  \
19730  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...  1997-08-20       0
29503  [{'iso_3166_1': 'US', 'name': 'United States o...  2012-09-29       0
35587           [{'iso_3166_1': 'CA', 'name': 'Canada'}]  2014-01-01       0

      original_language                            original_title  overview  \
19730             104.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
29503              68.0      [{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}]  Released
35587              82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

       ... revenue runtime spoken_languages status tagline  title  video  \
19730  ...     NaN     NaN              NaN    NaN     NaN    NaN    NaN
29503  ...     NaN     NaN              NaN    NaN     NaN    NaN    NaN
35587  ...     NaN     NaN              NaN    NaN     NaN    NaN    NaN

      vote_average vote_count id_numeric
19730          NaN        NaN        NaN
29503          NaN        NaN        NaN
35587          NaN        NaN        NaN

[3 rows x 25 columns]

In [7]:
# funci√≥n para corregir el error de los registros que est√°n divididos en dos filas
def merge_and_delete(df, indices):
    new_df = df.copy()  # copia el DataFrame original para evitar modificarlo directamente

    for index in indices:
        # obtener valores a modificar
        value1 = new_df.iloc[index, 0]
        value2 = new_df.iloc[index-1, 9]

        # concatenar los valores
        concatenated_value = str(value2) + str(value1)

        # actualizar el valor de la columna 10 del registro anterior con el resultado concatenado
        new_df.iloc[index-1, 9] = concatenated_value

        # copiar los valores del registro actual en las columnas 10 a 23 del registro anterior
        values = new_df.iloc[index, 1:14].values
        new_df.iloc[index-1, 10:23] = values

    # eliminar los registros indicados
    new_df = new_df.drop(indices)

    # reindexar el dataframe
    new_df = new_df.reset_index(drop=True)
    return new_df

In [8]:
# corregir los registros divididos en dos filas identificados anteriormente
indices = [19730, 29503, 35587]
df_movies = merge_and_delete(df_movies, indices)

### **Desanidar columnas que contienen diccionarios**

In [9]:
# funcion para desanidar diccionarios
def desanidar_columnas(df, columnas):
    for columna in columnas:
        # convertir la columna en una lista de diccionarios
        df[columna] = df[columna].apply(lambda x: ast.literal_eval(x))

        # cbtener los valores de cada diccionario y manejar las celdas vac√≠as
        df[columna] = df[columna].apply(lambda x: [item['name'] for item in x] if x else ['sin dato'])

        # rellenar las celdas vac√≠as con ['sin dato']
        df[columna] = df[columna].apply(lambda x: x if x else ['sin dato'])

In [10]:
# desanidar la columna 'belong_to_collection'
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else {})

# crear columnas separadas
df_movies['id_collection'] = df_movies['belongs_to_collection'].apply(lambda x: x.get('id', 0))
df_movies['name_collection'] = df_movies['belongs_to_collection'].apply(lambda x: x.get('name', 'sin dato'))
df_movies['poster_path_collection'] = df_movies['belongs_to_collection'].apply(lambda x: x.get('poster_path', 'sin dato'))
df_movies['backdrop_path_collection'] = df_movies['belongs_to_collection'].apply(lambda x: x.get('backdrop_path', 'sin dato'))

# eliminar la columna original 'belong_to_collection'
df_movies.drop('belongs_to_collection', axis=1, inplace=True)

In [11]:
# desanidar las otras columnas con diccionarios
columnas_a_desanidar = ['genres', 'production_companies', 'production_countries', 'spoken_languages']
desanidar_columnas(df_movies, columnas_a_desanidar)

In [12]:
df_movies.columns

Index(['adult', 'budget', 'genres', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'id_collection', 'name_collection', 'poster_path_collection',
       'backdrop_path_collection'],
      dtype='object')

### **Identificar y eliminar duplicados**

In [13]:
# lista de columnas a convertir
columns_to_convert = ['genres', 'production_companies', 'production_countries', 'spoken_languages']

# convertir listas a tuplas para poder identificar duplicados
df_movies[columns_to_convert] = df_movies[columns_to_convert].applymap(lambda x: tuple(x) if isinstance(x, (list)) else x)

# contar duplicados
df_movies.duplicated().sum()

13

In [14]:
# eliminar duplicados
df_movies = df_movies.drop_duplicates()

# reindexar el dataframe
df_movies = df_movies.reset_index(drop=True)

### **Remover columnas indicadas en el enunciado del proyecto**

In [15]:
# remover las columnas del DataFrame solicitadas en el enunciado del PI
columnas_a_remover = ['video','imdb_id','adult','original_title','poster_path','homepage']
df_movies = df_movies.drop(columnas_a_remover, axis=1)

### **Adecuar tipo de columnas de acuerdo a los datos que contienen**

In [16]:
# convertir las columnas 'budget', 'revenue' y 'runtime' a tipo num√©rico (float)
columnas_a_numeric = ['budget', 'revenue', 'runtime', 'popularity', 'vote_average']
df_movies[columnas_a_numeric] = df_movies[columnas_a_numeric].apply(pd.to_numeric)

In [17]:
# convertir columna 'release_date' a formato fecha
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d')

### **Tratar valores nulos**

In [18]:
# obtener las columnas con valores nulos
columnas_nulas = df_movies.columns[df_movies.isnull().any()]

# obtener los tipos de datos de las columnas con valores nulos
tipos_columnas_nulas = df_movies[columnas_nulas].dtypes

# mostrar los tipos de datos de las columnas con valores nulos
print(tipos_columnas_nulas)

original_language                   object
overview                            object
release_date                datetime64[ns]
runtime                            float64
status                              object
tagline                             object
vote_count                         float64
poster_path_collection              object
backdrop_path_collection            object
dtype: object

In [19]:
# lista de columnas no num√©ricas en las que se reemplazar√°n los valores nulos
columnas_sin_dato = ['original_language','overview','status','tagline','poster_path_collection','backdrop_path_collection']

# completar los valores nulos en las columnas seleccionadas con 'sin dato'
df_movies[columnas_sin_dato] = df_movies[columnas_sin_dato].fillna('sin dato')

# lista de columnas num√©ricas en las que se reemplazar√°n los valores nulos
columnas_cero = ['runtime','vote_count']

# completar los valores nulos en las columnas seleccionadas con 'sin dato'
df_movies[columnas_cero] = df_movies[columnas_cero].fillna(0)

In [20]:
# eliminar registros con el campo 'release_date' nulo
df_movies.dropna(subset=['release_date'], inplace=True)

### **Crear columnas solicitadas en el enunciado del proyecto**

In [21]:
# crear la columna "return" para guardar el retorno de inversi√≥n
df_movies['return'] = 0  # Inicializar la columna "return" con valor 0

# calcular el retorno de inversi√≥n solo cuando "budget" sea diferente de 0
mask = df_movies['budget'] != 0
df_movies.loc[mask, 'return'] = df_movies.loc[mask, 'revenue'] / df_movies.loc[mask, 'budget']

In [22]:
# extraer el a√±o y guardarlo en la columna 'release_year'
df_movies['release_year'] = pd.to_datetime(df_movies['release_date']).apply(lambda x: x.year)

### **Convertir a *integer* algunas columnas**

In [23]:
# lista de columnas que se convertir√°n a int
columnas_a_int = ['id', 'vote_count', 'id_collection']

# convertir las columnas seleccionadas de float a int
df_movies[columnas_a_int] = df_movies[columnas_a_int].astype('int64')

### **Cargar credits.csv**

In [24]:
# cargar credits en un dataframe de pandas
df_credits = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/credits.csv')

### **Visualizar dataset**

In [25]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [26]:
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

### **Desanidar y convertir diccionarios de columnas**

In [27]:
# desanidar la columna 'cast'
desanidar_columnas(df_credits, ['cast'])

In [28]:
# convertir la columna 'crew' de cadena a lista de diccionarios
df_credits['crew'] = df_credits['crew'].apply(ast.literal_eval)

# crear la columna 'director' y eliminar la columna 'crew'
df_credits['director'] = df_credits['crew'].apply(lambda x: [item['name'] for item in x if item['job'] == 'Director'][0] if any(item['job'] == 'Director' for item in x) else 'sin dato')
df_credits = df_credits.drop('crew', axis=1)

### **Identificar y eliminar duplicados**

In [29]:
# lista de nombres de columnas a convertir
columns_to_convert = ['cast', 'director']

# convertir listas a tuplas para identificar duplicados
df_credits[columns_to_convert] = df_credits[columns_to_convert].applymap(lambda x: tuple(x) if isinstance(x, (list)) else x)

# contar duplicados
df_credits.duplicated().sum()

43

In [30]:
# elimimar duplicados
df_credits = df_credits.drop_duplicates()

# reindexar el dataframe
df_credits = df_credits.reset_index(drop=True)

### **Tratar valores nulos**

In [31]:
# obtener las columnas con valores nulos
columnas_nulas = df_credits.columns[df_credits.isnull().any()]
columnas_nulas

Index([], dtype='object')

No se encontraron valores nulos en este dataset

In [32]:
# obtener la longitud de la lista m√°s larga en la columna de actores
max(len(actor_list) for actor_list in df_credits['cast'])

313

In [33]:
# IMDB considera reparto principal los tres primeros actores, de modo que las listas se reducir√°n a un m√°ximo de 5 actores.
df_credits['cast'] = df_credits['cast'].apply(lambda x: x[:5])

### **Unir los dataframes movies y credits**

In [34]:
df = pd.merge(df_movies, df_credits, on='id')

### **Guardar el csv completo y limpio**

In [35]:
# especificar la ruta y el nombre de archivo para guardar el archivo CSV
csv_file = "/content/drive/MyDrive/Colab Notebooks/movies_credits_limpio.csv"

# guardar el DataFrame en un archivo CSV sin comillas y con el formato de fecha espec√≠fico
df.to_csv(csv_file, date_format='%Y-%m-%d', index=False)

print("Archivo CSV guardado exitosamente.")

Archivo CSV guardado exitosamente.